/* ==========================================================================
   Author's custom styles
   ========================================================================== */

 body {
  padding: 50px 15px 20px 15px;
  
  }
      
li.placeholder {
  margin-top: 20px;
  margin-right: 0;
}

ul#images li {
    width: 200px;
    height: auto;
    display: inline-block;
    position: relative;
    padding: 10px;
    font-weight: bold;
}

ul#images li img {
    display: inline-block;
    width: 100%;
    height: auto;
    border: solid black 2px;
}

ul#images li button {
    display: inline-block;
  
}

#images {
  border: solid #666; 2px;
  margin: 5px;
  padding: 5px;
}


/*--- End of grid layout styles. */

ul#images {
    list-style-type: none;
}

ul#images .placeholder {
    font-size: 2em;
    font-weight: lighter;
    color: #666;
    width: 100%;
    margin: 2em;
  
}
.modal-body img {
    width: 100%;
    height: auto;
  
}

hr {
    clear:both;
}













